<div class="scango">
<div [style.padding.px]="350">
    <h1 class="logo"> <img src="assets/logog.png"></h1>
  
    <!-- ngx-scanner-qrcode -->
    <ngx-scanner-qrcode #action="scanner" (data)="output = $event" (error)="onError($event)"></ngx-scanner-qrcode>
  
    <!-- data  -->
    <div  >
        <span>{{ action.data.value | json }}</span><!-- value -->
    
  </div>
    <!-- Loading -->
    <p *ngIf="action.isLoading">⌛ Loading video...</p>
  
    <!-- toggleCamera -->
    <button class="click" (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}
      <img  *ngIf="!action.isStart" src="https://img.icons8.com/ios/50/000000/no-camera--v2.png" width="30px"/>
      <img *ngIf="action.isStart" src="https://img.icons8.com/ios/50/000000/no-camera--v1.png" width="30px"/>
    </button>
  </div>
</div>