.scango{
    margin-top: -300px;
}
.logo img{
    width: 200px;
    margin-left: 225px;
}
.click{
    width: 100px;
    height: 50px;
    margin-left: 275px;
}

@media(max-width:600px){

    scango{
        padding:2rem;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        flex-flow: column;
        max-width: 100%;
    }
  
  }