/* .header1{
    
    top:0; left:0; right: -7;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background:rgb(0, 0, 0);
    box-shadow: var(--box-shadow);
    padding: 12px 11px 10px 1120px;
  }
  
  .header{
    position: fixed;
     left:0; right: 0; top: 50;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background-color: #fffaf0d3;
    box-shadow: var(--box-shadow);
    padding-top: 1px ;
   
  }
  
  
  .header a img
  {
    width: 159px;
    padding-bottom: 10px;
  }
  .header .navbar{
    padding-top: 10px;
  }
  
  .header .navbar button {
    font-size: 30px;
    margin:0 1rem;
   
    background-color: rgba(255, 255, 255, 0.048);
    border: none;
    
   
  }
  .navbar a button:hover{
    background-color: rgba(57, 29, 156, 0.959);
    border: none;
  }
  .navbar p{
    color: black;
    
  }
  
  .icons{
    color: white;
  }
  .icons div{
    
    line-height: 1.5rem;
    
    font-size: 20px;
    
    padding: 0.7rem 2rem;
    
  }
  
  .icons div:hover{
    background: var(--orange);
    color:rgba(42, 8, 163, 0.959);
  }
  @media only screen and(max-width:600px)
  {
  }
   */

   /* .header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2%;
    background:#ffffff;
    box-shadow: var(--box-shadow);
}
.header a img
  {
    width: 135px;
    padding-bottom: 10px;
  }


.navbar a{
    font-size: 25px;
    margin:0 1rem;
    color:var(--black);
    text-decoration: none;
    padding-bottom: 10px;
   
}

.navbar a:hover{
  color: rgba(44, 10, 163, 0.959);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: white;
  
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: rgba(44, 10, 163, 0.959);
    color:rgba(255, 255, 255, 0.959);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--orange);
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:var(--orange);
}

.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--orange);
    text-decoration: underline;
}

@media (max-width:600px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:600px){

  #menu-btn{
      display: inline-block;
  }

  .header .search-form{
      width:90%;
  }

  .header .navbar{
      position: absolute;
      top:110%; right:-110%;
      width:30rem;
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      background: #fff;
  }

  .header .navbar.active{
      right:2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin:2rem 2.5rem;
      display: block;
  }

}

@media (max-width:600px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 2.5rem;
  }

  .footer{
      text-align: center;
  }

  .footer .box-container .box .payment-img{
      margin: 2rem auto;
  }

} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --green:rgb(28, 218, 59);
  --black:#2c2c54;
  --white:rgb(254, 254, 254);
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background:rgb(28, 218, 59);
  color:rgb(254, 254, 254);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
section{
  padding:2rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--green);
  color:#fff;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background:var(--black);
}

.heading{
  text-align: center;
  color:var(--black);
  text-transform: uppercase;
  padding:1rem;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.heading span{
  color:var(--green);
  text-transform: uppercase;
}

.header-1{
  background:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem ;
}



.logo img{
  padding-right: .5rem;
  width: 135px;

 
}

.header-1 .search-box-container{
  display: flex;
  height:4rem;
}

.header-1 .search-box-container #search-box{
  height: 100%;
  width:100%;
  padding:1rem;
  font-size: 2rem;
  color:#333;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.header-1 .search-box-container label{
  height: 100%;
  width:8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color:#fff;
  background:rgb(11, 177, 39) ;
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover{
  background:#2c2c54;;
}

.header-2{
  background:rgb(229, 224, 224);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1rem ;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  position: relative;
 
}

.header-2.active{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 10000;
}

.header-2 .navbar a{
  padding:.5rem 1.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  color:var(--black);
}

.header-2 .navbar a:hover{
  background:var(--green);
  color:rgb(28, 218, 59);
  text-decoration: none;
}

.header-2 .icons a{
  font-size: 2.5rem;
  color:var(--black);
  padding-left: 2rem;
  text-decoration: none;
}

.header-2 .icons a:hover{
  color:rgb(28, 218, 59);
  text-decoration: none;
}
#menu-bar{
  font-size: 3rem;
  border-radius: .5rem;
  border:.1rem solid var(--black);
  padding:.8rem 1.5rem;
  color:var(--black);
  cursor: pointer;
  display: none;
  
}
/* #user{
  
  cursor: pointer;
  display: none;
} */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.icons img{
  width: 50px;
  padding-left: 2rem;
  margin-bottom: 9px;

}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

/*
  Footer style
*/
 
.footer{
  background-color:var(--black);
}

.footer .box-container{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box .share a{
  padding:0;
  height:4rem;
  width:4rem;
  line-height: 4rem;
  text-align: center;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:var(--black);
}

.footer .box-container .box p{
  font-size: 1.3rem;
  color:whitesmoke;
}

.footer .box-container .box .links{
  padding:1rem 0;
}

.footer .box-container .box .links a{
  display: block;
  padding:.5rem 0;
  font-size: 1.7rem;
  color:whitesmoke;
}

.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color:var(--green);
}

.footer .credit{
  padding:2.5rem 1rem;
  border-top: .1rem solid rgba(0,0,0,.1);
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.footer .credit span{
  color:var(--green);
}

.footer h1{
  text-align: center;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} 
.icons a:hover {
  background-color: #ddd;
}

.icons a.fa-user-circle:hover .dropdown-content {display: block;}
.user{
  padding: 10px;
}
















/* media queries  */

@media(max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media(max-width:991px){

  .header-1,
  .header-2{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media(max-width:768px){

  #menu-bar{
    display: initial;
  }
  /* #user{
    display: initial;
  } */


  .header-2 .navbar{
    position: absolute;
    top:100%; left: 0; right:0;
    background:var(--black);
    padding:1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active{
    display: initial;
  }

  .header-2 .navbar a{
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background:#fff;
    padding:1rem;
    margin:1.5rem 0;
  }

  .home .content{
    text-align: center;
  }

  .home .content h3{
    font-size: 4rem;
  }

  .deal{
    background-position: left;
  }

  .deal .content{
    max-width: 100%;
    text-align: center;
  }

  .deal .content .count-down{
    justify-content: center;
  }

  .contact form .inputBox input{
    width:100%;
  }

  .newsletter h3{
    font-size: 2.2rem;
  }

}

@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

  .header-1{
    flex-flow: column;
  }

  .header-1 .search-box-container{
    width:100%;
    margin-top: 2rem;
  }

  .logo{
    font-size: 4rem;
  }

  .deal .content .count-down .box h3{
    font-size: 4rem;
  }

  .deal .content .count-down .box span{
    font-size: 1.5rem;
  }

}



