
/* .card {
    margin-top: 200px;
    border: 1px solid gray;
    width: 550px;
    padding: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
} */
*::selection{
    background:rgb(28, 218, 59);
    color:rgb(254, 254, 254);
  }
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
    margin: 0px 15px 0px 15px;
}
input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}
input[type='email']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}
input[type='number']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}
.fa-eye-slash{
    border: none;
    outline: none;
    box-shadow: none;
}
@media screen and (max-width:600px) {
    card{
        padding: 70px 35px;
    }
}