
.card{
    
    margin: 45px;
    border-radius: 10px;
    
   
}
*::selection{
  background:rgb(28, 218, 59);
  color:rgb(254, 254, 254);
}

/* .example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
    display: grid;
  } */
  .card .box{
   
    text-align: center;
    padding:2rem;
   
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
.box img{
    height: 17rem;
    margin-bottom: 15px;
      transition: 0.3s ease-in-out;
  }
  .box img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
  .discount{
    position: absolute;
    top:1rem; left: 1rem;
    background:rgba(0,255,0,.1);
    color:var(--green);
    padding:.7rem 1rem;
    font-size: 2rem;
  }
  
  .card.box h3{
    color:var(--black);
    font-size: 2.5rem;
  }
  
  .stars i{
    padding:1rem .1rem;
    font-size: 1.7rem;
    color:gold;
  }
  
  .price{
    font-size: 2rem;
    color:#333;
    padding:.5rem 0;
  }
  
  
  
  .card.box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
  }
  
  .quantity span{
    padding:0 .7rem;
    font-size: 1.7rem;
  }
  
  .quantity input{
    border:.1rem solid rgba(0,0,0,.3);
    font-size: 1.5rem;
    font-weight: bolder;
    color:var(--black);
    padding:.5rem;
    background:rgba(0,0,0,.05);
  }
  
  .btn{
    display: block;
  }
  .btn:hover{
    background:#2c2c54;
  }
  .btn{
    display: inline-block;
    margin-top: 1rem;
    background:rgb(11, 177, 39);
    color:#fff;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
  }
  .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  
  
  

  
  /* mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card-top{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0,0, 0.2);
      border-radius: .25rem;
  }
   */
.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: rgb(11, 177, 39);
}
.btn1{
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: rgb(11, 177, 39);
  
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  color: white;
 
}
.fa-heart{
  cursor: pointer;
 
  display: block;
  height:4.5rem;
  width:4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color:var(--black);
  background:rgba(0,0,0,.05);
  border-radius: 50%;
  margin-top: .7rem;
  text-decoration: none;
}
.fa-heart:hover{
  background:rgb(11, 177, 39);
  color:#fff;
}