<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-offset-1 ">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <a href="#" class="logo"><img src="assets/logog.png"> </a>
                        
                       
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                   
                    <p>
                        <label>Receipt</label>
                    </p>
                </div>
            </div>
            <table class="table table-responsive"  id="content" #content>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of product;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.productName}}</td>
                        <td>{{item.quantity}}</td>
                        <td>₹{{item.price}}</td>
                        <td>10</td>
                        <!-- <td>{{item.quantity}}kg</td> -->




                    </tr>
                    <tr>

                        <td><strong>Grand Total:{{total - discValue | currency:'INR'}}</strong></td>
                    </tr>
                </tbody>
            </table>


        </div>
        <button (click)="PDF()" class="btn">Download</button>
    </div>