<section class="home" id="home">

    <div class="content">
        <h3>You pack the <span>love,</span></h3>
        <h3>we’ll pack the<span> groceries....♥</span></h3>

    </div>

</section>
<!-- home section ends -->


<!-- product section starts  -->

<section class="product" id="product">

    <h1 class="heading">Our <span>products</span></h1>
    <div class="head">
        <a class="btn" href="product">Shop More</a>
    </div>

    
        <ng-container *ngFor="let item of productList" | splice :0:3>
            <div class="card col-md-3">
                <div class="box">
            <!-- <div class="box"> -->


            <img src="{{item.image}}" alt="">
            <h3>{{item.productName}}</h3>
            <h3>{{item.description}}</h3>

            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <h3 class="price">₹{{item.price}}</h3>
            <div class="quantity">
                <span>Quantity : </span>
                <input type="number" min="1" max="10" value="{{item.quantity}}">
                <span> /kg </span>
            </div>
            <button class="btn" (click)=opendialog(item)>Add to Cart</button>
</div>
</div>
        </ng-container>
   

</section>

<!-- product section ends -->

<!-- category section starts  -->

<section class="category" id="category">

    <h1 class="heading">shop by <span>category</span></h1>

    <div class="box-container">

        <div class="box">
            <h3>Rice</h3>
            <img src="assets/Rice.jpeg" alt="">
            <a href="product" class="btn">shop now</a>
        </div>
        <div class="box">
            <h3>wheat</h3>
            <img src="assets/Wheat.jpeg" alt="">
            <a href="product" class="btn">shop now</a>
        </div>
        <div class="box">
            <h3>Maggie</h3>
            <img src="assets/Maggi.jpeg" alt="">
            <a href="product" class="btn">shop now</a>
        </div>
        <div class="box">
            <h3>fruits</h3>
            <img src="assets/Fruits.jpeg" alt="">
            <a href="product" class="btn">shop now</a>
        </div>

    </div>

</section>

<!-- category section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> our <span>features</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/ScanGo.jpeg" alt="">
            <h3>Scan&Go</h3>
            <p>Scan & Go features, reducing queues at the checkout, and making customers happier with multiple smart
                functionalities.</p>
           
        </div>

        <div class="box">
            <img src="assets/Click&Go.jpg" alt="">
            <h3>Click&Go</h3>
            <p>virtual showcase for different types of groceries products where customers can go through a catalog and
                select products of their interest.</p>
           
        </div>

        <div class="box">
            <img src="assets/EasyPay.jpeg" alt="">
            <h3>Easy Payments</h3>
            <p>A good combination would be to allow direct bank transfers and payments from all major credit cards with
                the secure technology with secure Payments.</p>
           
        </div>

    </div>

</section>
<section>
    <h1 class="heading"> About <span>G-Scan</span> </h1>
    <div class="container">
        <div class="wrapper">
            <div class="wrapper-holder">
                <div id="slider-img-1">
                    <div class="context">
                        <img src="assets/Gscan.png">
                        <div class="details">
                            <h2>About<span> us </span></h2>
                            <br>
                            <p>G-Scan allows shoppers to pick up an item they wish to buy, scan the
                                barcode of the item with their phone and pay.
                                they simply leave with the item they just bought No queuing; just
                                Scan, Pay and Leave. The customers can buy the products either
                                online by Click & Collect feature or offline by Scan & Go feature.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="slider-img-2">
                    <div class="context">
                        <img src="assets/scan&Go2.png">
                        <div class="details">
                            <h2>Scan&<span>GO</span></h2>
                            <br>
                            <p>This feature allows customers to pick up an item from the
                                grocery store they wish to buy, scan the product barcode with their
                                phone and pay for it on the website, after that they can simply leave
                                with the item they just bought. No queuing; just Scan, Pay and
                                Leave.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="slider-img-3">
                    <div class="context">
                        <img src="assets/Click&Go.jpg">
                        <div class="details">
                            <h2>Click&<span>GO</span></h2>
                            <br>
                            <p>This feature allows customers to pick up an item from the
                                grocery store they wish to buy, scan the product barcode with their
                                phone and pay for it on the website, after that they can simply leave
                                with the item they just bought. No queuing; just Scan, Pay and
                                Leave.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="slider-img-4">
                    <div class="context">
                        <img src="assets/Easy Pay.jpg">
                        <div class="details">
                            <h2>Easy<span>Pay</span></h2>
                            <br>
                            <p>We have provided two payment modes to the Customers
                                online &offline. In online mode, the customers can pay the bill by
                                using the UPI appsand in offline mode, the customer can pay the
                                bill by using the Pay in Shop option. Where the customer can
                                directly pay the bill to the shopkeeper if there is any problem in the
                                online mode.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-holder">
            <a href="#slider-img-1" class="button"></a>
            <a href="#slider-img-2" class="button"></a>
            <a href="#slider-img-3" class="button"></a>
            <a href="#slider-img-4" class="button"></a>
        </div>
    </div>
</section>

<!-- features section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <form action="">

        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>

        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>

        <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>

        <input type="submit" value="send message" class="btn">

    </form>

</section>

<!-- contact section ends -->

<!-- newsletter section starts  -->

<section class="newsletter">

    <h3>subscribe us for latest updates</h3>

    <form action="">
        <input class="box" type="email" placeholder="enter your email">
        <input type="submit" value="subscribe" class="btn">
    </form>

</section>

<!-- <section class="footer">

    <div class="box-container">

        <div class="box">
            <a href="#" class="logo"><img src="assets/logog.png"> </a>
            <p>website for the grocery store, which allows shoppers to pick up an item they wish to buy, scan the
                barcode of the item with their phone and pay for it on the website, they simply leave with the item they
                just bought. No queuing; just Scan, Pay and Leave.</p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
        </div>

      

         <div class="box">
            <h3>contact us</h3>
            <p>+52 2 1478 7412</p>
            <a href="#" class="link">ninjashub@gmail.com</a>
        </div> 
         <div class="box">
            <h3><a href="home">home</a></h3>
            <h3><a href="scan">Scan&Go</a></h3>
            <h3><a href="product">Click&Go</a></h3>
            
        </div>
    </div>

</section> -->
<!-- <div class="container">
<h4><script>document.write(localStorage.getItem('fullname'))</script></h4>
</div> -->

<!-- footer -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <a href="#" class="logo"><img src="assets/logog.png"> </a>
            <h3>Website For The Grocery Store, Which Allows Shoppers To Pick Up An Item Yoy Wish To Buy, Scan The Barcode Of The Item With Your Phone And Pay For It On The Website, Then Simply Leave With The Item You Just Bought. No Queuing; Just Scan, Pay And Go.

            </h3>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
            <div class="link">
                <a href="home">home</a>
                <a href="scan">Scan&Go</a>
                <a href="product">Click&Go</a>
                
            </div>
        </div>
       

      

    </div>

    <div class="credit">created by <span> G-Scan </span> all rights reserved!</div>

</section>